html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

:root {
  scroll-padding: 50px;
}

body {
  color: #505050;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: bold;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.inner {
  position: relative;
  max-width: 940px;
  margin: 0 auto;
  padding: 0 30px;
}
@media screen and (max-width: 767px) {
  .inner {
    padding: 0 20px;
  }
}

.section-title {
  font-size: 2.5rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-title::before {
  content: "";
  background-image: url(../img/footprints.svg);
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-top: 7px;
}

.section-title::after {
  content: "";
  background-image: url(../img/footprints.svg);
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-top: 7px;
}

.title {
  padding: 0 19px;
}
@media screen and (max-width: 767px) {
  .title {
    margin: 0;
  }
}

.sp {
  display: none;
}
@media screen and (max-width: 767px) {
  .sp {
    display: inline-block;
  }
}

@media screen and (max-width: 767px) {
  .pc-ib {
    display: inline;
  }
}

.br-sp {
  display: inline-block;
}
.header {
  position: fixed;
  background-color: #fff;
  z-index: 1;
  height: 50px;
  width: 100%;
  top: 0;
  left: 0;
}

.header__inner {
  max-width: 1080px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 60px 0 99px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 900px) {
  .header__inner {
    padding-inline: 30px;
  }
}
@media screen and (max-width: 767px) {
  .header__inner {
    padding: 0;
  }
}

.header__title {
  font-size: 1.8rem;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  line-height: 1.8333333333;
}
.header__title:hover {
  opacity: 0.5;
}
.header__title .site__title {
  margin-left: 9px;
}
.header__title a {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 9px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__title img {
  width: 25px;
  height: 25px;
}
@media screen and (max-width: 767px) {
  .header__title {
    font-size: 2rem;
    margin-left: 20px;
  }
}

.header__nav-lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
@media screen and (max-width: 767px) {
  .header__nav-lists {
    display: none;
  }
}

.header__nav-list {
  text-align: center;
}
.header__nav-list:first-child {
  padding-left: 0;
}

.header__nav-link {
  font-size: 1.4rem;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  display: block;
  height: 50px;
  display: grid;
  place-items: center;
  line-height: 2.3571428571;
}
.header__nav-link:hover {
  opacity: 0.5;
}

.fv {
  position: relative;
  padding-top: 50px;
}

.fv__img {
  width: 100%;
}
.fv__img img {
  width: 100%;
}

.fv__text {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.702);
  left: 0;
  top: 56%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 17px 35px 23px 99px;
}
@media screen and (min-width: 768px) and (max-width: 940px) {
  .fv__text {
    padding: 17px 30px 23px 30px;
  }
}
@media screen and (max-width: 767px) {
  .fv__text {
    top: auto;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    bottom: 0;
    padding: 18px 23px 17px 22px;
  }
}

.fv__text-main {
  font-size: 2.5rem;
  padding-bottom: 14px;
}
@media screen and (max-width: 767px) {
  .fv__text-main {
    font-size: 2rem;
    padding-bottom: 4px;
  }
}

.fv__text-sub {
  color: #0d96a0;
  font-size: 4rem;
  line-height: 1.5;
}
@media screen and (max-width: 767px) {
  .fv__text-sub {
    font-size: 3rem;
    line-height: 1.3333333333;
  }
}

.introduction {
  padding: 64px 0;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .introduction {
    padding: 50px 0 39px;
  }
}

.introduction__title {
  color: #0d96a0;
  margin-bottom: 18px;
  font-size: 3rem;
}
@media screen and (max-width: 767px) {
  .introduction__title {
    font-size: 2.5rem;
    line-height: 1.4;
    margin-bottom: 17px;
  }
}

.introduction__text {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.8333333333;
}
@media screen and (max-width: 767px) {
  .introduction__text {
    line-height: 1.875;
    font-size: 1.6rem;
    text-align: left;
  }
}

.introduction__img {
  position: absolute;
  bottom: -30px;
  right: 7px;
  width: 83px;
  height: 77px;
}
@media screen and (max-width: 767px) {
  .introduction__img {
    width: 68px;
    height: 62px;
    bottom: 10px;
    right: 29px;
  }
}

.about {
  background-color: rgba(13, 150, 160, 0.102);
  padding: 59px 0 68px 0;
}
@media screen and (max-width: 767px) {
  .about {
    padding: 54px 0 35px 0;
  }
}

.about__title {
  margin-bottom: 50px;
}
@media screen and (max-width: 767px) {
  .about__title {
    margin-bottom: 42px;
  }
}

.about__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 48px;
}
@media screen and (max-width: 767px) {
  .about__items {
    width: 100%;
    gap: 43px;
  }
}

.about__item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 5%;
     -moz-column-gap: 5%;
          column-gap: 5%;
}
@media screen and (max-width: 767px) {
  .about__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.about__item:nth-child(odd) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
@media screen and (max-width: 767px) {
  .about__item:nth-child(odd) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.about__body {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.about-item__title {
  margin-bottom: 19px;
  font-size: 2.2rem;
  line-height: 1.5;
}
@media screen and (max-width: 767px) {
  .about-item__title {
    font-size: 2rem;
    text-align: center;
    margin: 26px 0 8px;
  }
}
@media screen and (max-width: 320px) {
  .about-item__title {
    font-size: 1.7rem;
  }
}

.about-item__text {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.8333333333;
}
@media screen and (max-width: 767px) {
  .about-item__text {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 320px) {
  .about-item__text {
    font-size: 1.4rem;
  }
}

.about__img {
  width: 50%;
}
@media screen and (max-width: 767px) {
  .about__img {
    width: 100%;
  }
}
.about__img img {
  width: 727px;
}

.service {
  padding: 63px 0 59px 0;
}
@media screen and (max-width: 767px) {
  .service {
    padding: 50px 0 39px 0;
  }
}

.service__title {
  margin-bottom: 53px;
}
@media screen and (max-width: 767px) {
  .service__title {
    margin-bottom: 44px;
  }
}

.service__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  gap: 5.69%;
}
@media screen and (max-width: 767px) {
  .service__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 39px;
  }
}

.service-item {
  width: 29.54%;
}
@media screen and (max-width: 767px) {
  .service-item {
    width: 100%;
  }
}

.service-item__img {
  margin-bottom: 13px;
}
@media screen and (max-width: 767px) {
  .service-item__img {
    margin-bottom: 13px;
  }
}
.service-item__img img {
  width: 727px;
}

.service-item__body {
  text-align: center;
}
@media screen and (max-width: 767px) {
  .service-item__body {
    margin-top: 30px;
  }
}

.service-item__title {
  font-size: 2rem;
  margin-bottom: 10px;
  line-height: 1.25;
}
.service-item__text {
  font-size: 1.7rem;
  line-height: 1.7647058824;
  text-align: left;
  font-weight: 500;
}
@media screen and (max-width: 767px) {
  .service-item__text {
    font-size: 1.6rem;
  }
}

.news {
  background-color: rgba(13, 150, 160, 0.102);
  padding: 58px 0 68px 0;
}
@media screen and (max-width: 767px) {
  .news {
    padding: 46px 0 50px 0;
  }
}

.news__title {
  margin-bottom: 46px;
}

.news__item {
  border-bottom: 1px solid #707070;
}
.news__item:first-child {
  border-top: 1px solid #707070;
}
.news__item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 15px 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.news__item a:hover {
  opacity: 0.5;
}
@media screen and (max-width: 767px) {
  .news__item a {
    width: 100%;
    padding: 26px 0 26px 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

time {
  font-size: 1.7rem;
  line-height: 1.4705882353;
}
@media screen and (max-width: 767px) {
  time {
    margin-bottom: 2px;
    padding-left: 0;
  }
}

.news__item-title {
  color: #0d96a0;
  font-size: 2rem;
  padding-left: 25px;
  width: 209px;
  line-height: 1.25;
}
@media screen and (max-width: 767px) {
  .news__item-title {
    margin-bottom: 5px;
    padding-left: 0;
  }
}

.news__item-text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 1.7rem;
  font-weight: 500;
  padding-left: 25px;
  line-height: 1.7647058824;
}
@media screen and (max-width: 767px) {
  .news__item-text {
    width: 100%;
    font-size: 1.6rem;
    padding-left: 0;
    line-height: 1.5;
  }
}

.access {
  padding: 63px 0 70px 0;
}
@media screen and (max-width: 767px) {
  .access {
    padding: 42px 0 50px;
  }
}

.access__title {
  margin-bottom: 46px;
}

.access__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5.2%;
}
@media screen and (max-width: 767px) {
  .access__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.access__map {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
@media screen and (max-width: 767px) {
  .access__map {
    width: 100%;
    margin-bottom: 24px;
    aspect-ratio: 335/222;
  }
}
.access__map iframe {
  width: 100%;
  height: 100%;
}

.access__body {
  width: 44.77%;
}
@media screen and (max-width: 767px) {
  .access__body {
    width: 100%;
  }
}

.access__item-title {
  margin-bottom: 15px;
  font-size: 2.2rem;
  line-height: 1.5;
}
@media screen and (max-width: 767px) {
  .access__item-title {
    margin-bottom: 20px;
  }
}

.access__item-address {
  margin-bottom: 18px;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5;
}
@media screen and (max-width: 767px) {
  .access__item-address {
    font-size: 1.6rem;
    margin-bottom: 11px;
  }
}

.access__item-tellnumber {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .access__item-tellnumber {
    margin-bottom: 7px;
  }
}

.access__item-tell {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5;
}
@media screen and (max-width: 767px) {
  .access__item-tell {
    font-size: 1.6rem;
  }
}

.access__item-number {
  color: #0d96a0;
  font-size: 2.5rem;
  line-height: 1.6;
}
@media screen and (max-width: 767px) {
  .access__item-number {
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .access__item-number :hover {
    opacity: 0.5;
    cursor: pointer;
  }
}

@media screen and (min-width: 768px) {
  .tel-link {
    pointer-events: none;
  }
}

.access__item-mailadress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 27px;
  line-height: 1.5;
}
@media screen and (max-width: 767px) {
  .access__item-mailadress {
    margin-bottom: 14px;
  }
}
.access__item-mailadress p {
  font-size: 1.8rem;
  font-weight: 500;
}
@media screen and (max-width: 767px) {
  .access__item-mailadress p {
    font-size: 1.6rem;
  }
}
.access__item-mailadress a {
  font-size: 1.8rem;
  font-weight: 500;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.access__item-mailadress a:hover {
  opacity: 0.5;
}
@media screen and (max-width: 767px) {
  .access__item-mailadress a {
    font-size: 1.6rem;
  }
}

.access__closed-time {
  padding: 13px 2px 14px 4px;
  line-height: 2.2222222222;
  border-top: 1px solid #707070;
  border-bottom: 1px solid #707070;
  font-weight: 500;
  font-size: 1.8rem;
}
@media screen and (max-width: 767px) {
  .access__closed-time {
    padding: 12px 0;
    font-size: 1.6rem;
    line-height: 1.875;
  }
}

.contact {
  background-color: rgba(13, 150, 160, 0.102);
  padding: 64px 0 78px;
}
@media screen and (max-width: 767px) {
  .contact {
    padding: 44px 0 50px;
  }
}

.contact__title {
  margin-bottom: 25px;
}
@media screen and (max-width: 767px) {
  .contact__title {
    margin-bottom: 43px;
  }
}

.contact__text {
  margin-bottom: 39px;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.7647058824;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .contact__text {
    text-align: left;
    font-size: 1.6rem;
    line-height: 1.875;
    margin-bottom: 38px;
  }
}

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
@media screen and (max-width: 767px) {
  .contact__form {
    gap: 24px;
  }
}

.form__item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5rem;
}
@media screen and (max-width: 767px) {
  .form__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.form__label {
  width: 169px;
  font-size: 20px;
  padding-top: 7px;
  line-height: 1.8333333333;
}
@media screen and (max-width: 767px) {
  .form__label {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 2px;
    padding-top: 0;
  }
}

.form__input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 1.6rem;
  font-weight: 500;
}
.form__input #name {
  padding: 0 20px;
}
@media screen and (max-width: 767px) {
  .form__input #name {
    height: 50px;
    width: 100%;
    padding-inline: 20px;
  }
}
.form__input #email {
  padding: 0 20px;
}
@media screen and (max-width: 767px) {
  .form__input #email {
    height: 50px;
    width: 100%;
    padding-inline: 20px;
  }
}
.form__input input {
  width: 100%;
  height: 40px;
  background-color: #fff;
  line-height: 1.2;
}

.form__textarea {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  line-height: 1.65;
}
.form__textarea textarea {
  display: block;
  width: 100%;
  min-height: 300px;
  background-color: #fff;
  padding: 20px;
  resize: vertical;
  line-height: 1.2;
}

.contact__button {
  text-align: center;
  margin-top: 49px;
  line-height: 1.32;
}
.contact__button input {
  width: 200px;
  height: 50px;
  color: #fff;
  background-color: #0d96a0;
  font-size: 2.5rem;
  border-radius: 10px;
  font-weight: 500;
  padding-left: 13px;
  letter-spacing: 0.4em;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  border: 1px solid #0d96a0;
}
.contact__button input:hover {
  background-color: #fff;
  color: #0d96a0;
}
@media screen and (max-width: 767px) {
  .contact__button input {
    font-size: 2rem;
    max-width: 335px;
    width: 100%;
    height: 41px;
    padding-bottom: 3px;
  }
}

.footer {
  color: #fff;
  background-color: #505050;
  padding: 64px 0 72px 0;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .footer {
    padding: 45px 0 50px;
  }
}

.footer__nav {
  max-width: 737px;
  margin: 0 auto;
  padding-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2rem;
  gap: 4px;
  border-bottom: 1px solid #fff;
}
@media screen and (max-width: 767px) {
  .footer__nav {
    max-width: 335px;
    font-size: 1.8rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-bottom: 25px;
    gap: 10px;
  }
}

.footer__nav-item {
  font-weight: 500;
}
.footer__nav-link {
  padding: 5px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  display: block;
  line-height: 1.65;
}
.footer__nav-link:hover {
  opacity: 0.5;
}
@media screen and (max-width: 767px) {
  .footer__nav-link {
    padding: 0 5px;
  }
}

.footer__copyright {
  font-size: 2rem;
  padding-top: 28px;
  line-height: 2.0625;
}
@media screen and (max-width: 767px) {
  .footer__copyright {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 1.6rem;
    padding-top: 18px;
  }
}

.footer__sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2px;
}
@media screen and (max-width: 767px) {
  .footer__sns {
    padding-top: 26px;
  }
}

.sns__list {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.sns__list:hover {
  opacity: 0.5;
}
.sns__list a {
  display: block;
  padding: 5px;
}/*# sourceMappingURL=style.css.map */