@use "color";

// 共通
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  word-break: break-all;
}

:root {
  scroll-padding: 50px;
}

body {
  color: color.$main-color;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: bold;
  line-height: 1.4;
  letter-spacing: 0;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.inner {
  position: relative;
  max-width: 940px;
  margin: 0 auto;
  padding: 0 30px;

  @media screen and (max-width: 767px) {
    padding: 0 20px;
  }
}

.section-title {
  font-size: 2.5rem;
  text-align: center;
  display: flex;
  justify-content: center;
}

.section-title::before {
  content: "";
  background-image: url(../img/footprints.svg);
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-top: 7px;
}

.section-title::after {
  content: "";
  background-image: url(../img/footprints.svg);
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-top: 7px;
}

.title {
  padding: 0 19px;

  @media screen and (max-width: 767px) {
    margin: 0;
  }
}

.sp {
  @media screen and (min-width: 768px) {
    display: none !important;
  }
}

.pc {
  @media only screen and (max-width: 767px) {
    display: none !important;
  }
}

.pc-ib {
  @media screen and (min-width: 768px) {
    display: inline-block;
  }
}

.ib {
  display: inline-block;
}

// ヘッダー
.header {
  position: fixed;
  background-color: #fff;
  z-index: 1;
  height: 50px;
  width: 100%;
  top: 0;
  left: 0;
}

.header__inner {
  max-width: 1080px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 60px 0 99px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 900px) {
    padding-inline: 30px;
  }

  @media screen and (max-width: 767px) {
    padding: 0;
  }
}

.header__title {
  font-size: 1.8rem;
  transition: all 0.3s linear;
  line-height: calc(33/18);

  &:hover {
    opacity: 0.5;
  }

  .site__title {
    margin-left: 9px;
  }

  a {
    height: 50px;
    display: flex;
    gap: 9px;
    align-items: center;
  }

  img {
    width: 25px;
    height: 25px;
  }

  @media screen and (max-width: 767px) {
    font-size: 2rem;
    margin-left: 20px;
  }
}

.header__nav-lists {
  display: flex;
  gap: 10px;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.header__nav-list {
  text-align: center;

  &:first-child {
    padding-left: 0;
  }
}

.header__nav-link {
  font-size: 1.4rem;
  transition: all 0.3s linear;
  display: block;
  height: 50px;
  display: grid;
  place-items: center;
  line-height: calc(33/14);

  &:hover {
    opacity: 0.5;
  }
}

// ファーストビュー
.fv {
  position: relative;
  padding-top: 50px;
}

.fv__img {
  width: 100%;

  @media screen and (min-width: 767px) {}

  img {
    width: 100%;
  }
}

.fv__text {
  position: absolute;
  background-color: rgba(255, 255, 255, 70.2%);
  left: 0;
  top: 56%;
  transform: translateY(-50%);
  padding: 17px 35px 23px 99px;

  @media screen and (min-width: 768px) and (max-width: 940px) {
    padding: 17px 30px 23px 30px;
  }

  @media screen and (max-width: 767px) {
    top: auto;
    transform: translateY(0);
    bottom: 0;
    padding: 20px 23px 14px 21px;
  }
}

.fv__text-main {
  font-size: 2.5rem;
  padding-bottom: 14px;

  @media screen and (max-width: 767px) {
    font-size: 2rem;
    padding-bottom: 4px;
  }
}

.fv__text-sub {
  color: color.$sub-color;
  font-size: 4rem;
  line-height: calc(60 / 40);

  @media screen and (max-width: 767px) {
    font-size: 3rem;
    line-height: calc(40 / 30);
    // padding-bottom: 8px;
  }
}

// ご挨拶
.introduction {
  padding: 64px 0;
  text-align: center;

  @media screen and (max-width: 767px) {
    padding: 50px 0 39px;
  }
}

.introduction__title {
  color: color.$sub-color;
  margin-bottom: 18px;
  font-size: 3rem;

  @media screen and (max-width: 767px) {
    font-size: 2.5rem;
    line-height: 1.4;
    margin-bottom: 17px;
  }
}

.introduction__text {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: calc(33 / 18);

  @media screen and (max-width: 767px) {
    line-height: 1.875;
    font-size: 1.6rem;
    text-align: left;
  }
}

.introduction__img {
  position: absolute;
  bottom: -30px;
  right: 7px;
  width: 83px;
  height: 77px;

  @media screen and (max-width: 767px) {
    width: 68px;
    height: 62px;
    bottom: 10px;
    right: 29px;
  }
}

// 強み
.about {
  background-color: rgba(13, 150, 160, 0.102);
  padding: 59px 0 68px 0;

  @media screen and (max-width: 767px) {
    padding: 50px 0 35px 0;
  }
}

.about__title {
  margin-bottom: 50px;

  @media screen and (max-width: 767px) {
    margin-bottom: 42px;
  }
}

.about__items {
  display: flex;
  flex-direction: column;
  gap: 51px;

  @media screen and (max-width: 767px) {
    width: 100%;
    gap: 43px;
  }
}

.about__item {
  width: 100%;
  display: flex;
  align-items: center;
  column-gap: 5%;

  @media screen and (max-width: 767px) {
    flex-direction: column;
  }

  &:nth-child(odd) {
    flex-direction: row-reverse;

    @media screen and (max-width: 767px) {
      flex-direction: column;
    }
  }

  &:nth-child(even) {
    @media screen and (max-width: 767px) {}
  }
}

.about__body {
  flex: 1;
}

.about-item__title {
  margin-bottom: 19px;
  font-size: 2.2rem;
  line-height: calc(33/22);

  @media screen and (max-width: 767px) {
    font-size: 2rem;
    text-align: center;
    margin: 26px 0 10px;
  }

  @media screen and (max-width: 374px) {
    font-size: 1.7rem;
  }
}

.about-item__text {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: calc(33 / 18);

  @media screen and (max-width: 767px) {
    font-size: 1.6rem;
  }

  @media screen and (max-width: 374px) {
    font-size: 1.4rem;
  }
}

.about__img {
  width: 50%;

  @media screen and (max-width: 767px) {
    width: 100%;
  }

  img {
    width: 727px;
  }
}

// サーヴィス
.service {
  padding: 59px 0 59px 0;

  @media screen and (max-width: 767px) {
    padding: 44px 0 41px 0;
  }
}

.service__title {
  margin-bottom: 50px;

  @media screen and (max-width: 767px) {
    margin-bottom: 44px;
  }
}

.service__items {
  display: flex;
  margin: 0 auto;
  gap: 5.69%;

  @media screen and (max-width: 767px) {
    flex-direction: column;
    row-gap: 39px;
  }
}

.service-item {
  width: 29.54%;

  @media screen and (max-width: 767px) {
    width: 100%;
  }
}

.service-item__img {
  margin-bottom: 20px;

  @media screen and (max-width: 767px) {
    margin-bottom: 13px;
  }

  img {
    width: 727px;
  }
}

.service-item__body {
  text-align: center;

  @media screen and (max-width: 767px) {
    margin-top: 31px;
  }
}

.service-item__title {
  font-size: 2rem;
  margin-bottom: 10px;
  line-height: calc(25/20);

  @media screen and (max-width: 767px) {
    margin-bottom: 14px;
  }
}

.service-item__text {
  font-size: 1.7rem;
  line-height: calc(30 / 17);
  text-align: left;
  font-weight: 500;

  @media screen and (max-width: 767px) {
    font-size: 1.6rem;
  }
}

// お知らせ
.news {
  background-color: rgba(13, 150, 160, 0.102);
  padding: 62px 0 68px 0;

  @media screen and (max-width: 767px) {
    padding: 45px 0 30px 0;
  }
}

.news__title {
  margin-bottom: 46px;
}

.news__items {}

.news__item {
  border-bottom: 1px solid #707070;

  &:first-child {
    border-top: 1px solid #707070;
  }

  &:last-child {}
}

.news__item a {
  display: flex;
  width: 100%;
  padding: 14.5px 20px;
  align-items: center;
  transition: all 0.3s linear;

  &:hover {
    opacity: 0.5;
  }

  @media screen and (max-width: 767px) {
    width: 100%;
    padding: 27.9px 10px;
    flex-direction: column;
    align-items: flex-start;
  }
}

time {
  font-size: 1.7rem;
  line-height: calc(25/17);

  @media screen and (max-width: 767px) {
    margin-bottom: 2px;
    padding-left: 0;
  }
}

.news__item-title {
  color: color.$sub-color;
  font-size: 2rem;
  padding-left: 25px;
  width: 209px;
  line-height: calc(25/20);

  @media screen and (max-width: 767px) {
    margin-bottom: 5px;
    padding-left: 0;
  }
}

.news__item-text {
  flex: 1;
  font-size: 1.7rem;
  font-weight: 500;
  padding-left: 25px;
  line-height: calc(30/17);

  @media screen and (max-width: 767px) {
    width: 100%;
    font-size: 1.6rem;
    padding-left: 0;
    line-height: 1.5;
  }
}

// アクセス
.access {
  padding: 65px 0 70px 0;

  @media screen and (max-width: 767px) {
    padding: 39px 0 50px;
  }
}

.access__title {
  margin-bottom: 46px;
}

.access__items {}

.access__item {
  display: flex;
  gap: 5.2%;

  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
}

.access__map {
  flex: 1;

  @media screen and (max-width: 767px) {
    width: 100%;
    margin-bottom: 30px;
    aspect-ratio: 335 / 222;
  }

  iframe {
    width: 100%;
    height: 100%;
  }
}

.access__body {
  width: 44.77%;

  @media screen and (max-width: 767px) {
    width: 100%;
  }
}

.access__item-title {
  margin-bottom: 15px;
  font-size: 2.2rem;
  line-height: calc(33/22);

  @media screen and (max-width: 767px) {
    margin-bottom: 12px;
  }
}

.access__item-address {
  margin-bottom: 16px;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: calc(27/18);

  @media screen and (max-width: 767px) {
    font-size: 1.6rem;
    margin-bottom: 8px;
  }
}

.access__item-tellnumber {
  display: flex;
  align-items: center;
  margin-bottom: 5px;

  @media screen and (max-width: 767px) {
    margin-bottom: 7px;
  }
}

.access__item-tell {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: calc(27/18);

  @media screen and (max-width: 767px) {
    font-size: 1.6rem;
  }
}

.access__item-number {
  color: color.$sub-color;
  font-size: 2.5rem;
  line-height: calc(40/25);

  a {
    transition: all 0.3s linear;
  }

  @media screen and (max-width: 767px) {


    :hover {
      opacity: 0.5;
      cursor: pointer;
    }
  }
}

.tel-link {
  @media screen and (min-width: 768px) {
    pointer-events: none;
  }
}

.access__item-mailadress {
  display: flex;
  margin-bottom: 27px;
  line-height: calc(27/18);

  @media screen and (max-width: 767px) {
    margin-bottom: 14px;
  }

  p {
    font-size: 1.8rem;
    font-weight: 500;

    @media screen and (max-width: 767px) {
      font-size: 1.6rem;
    }
  }

  a {
    font-size: 1.8rem;
    font-weight: 500;
    transition: all 0.3s linear;

    &:hover {
      opacity: 0.5;
    }

    @media screen and (max-width: 767px) {
      font-size: 1.6rem;
    }
  }
}


.access__closed-time {
  padding: 13px 2px 14px 4px;
  line-height: calc(40 / 18);
  border-top: 1px solid #707070;
  border-bottom: 1px solid #707070;
  font-weight: 500;
  font-size: 1.8rem;

  @media screen and (max-width: 767px) {
    padding: 12px 0;
    font-size: 1.6rem;
    line-height: 1.875;
  }
}

.access__item-time {}

.access__item-day {}

// お問い合わせ
.contact {
  background-color: rgba(13, 150, 160, 0.102);
  padding: 64px 0 78px;

  @media screen and (max-width: 767px) {
    padding: 44px 0 50px;
  }
}

.contact__title {
  margin-bottom: 25px;

  @media screen and (max-width: 767px) {
    margin-bottom: 43px;
  }
}

.contact__text {
  margin-bottom: 39px;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: calc(30 / 17);
  text-align: center;

  @media screen and (max-width: 767px) {
    text-align: left;
    font-size: 1.6rem;
    line-height: 1.875;
    margin-bottom: 32px;
  }
}

.contact__form {
  display: flex;
  flex-direction: column;
  gap: 30px;

  @media screen and (max-width: 767px) {
    gap: 17px;
  }
}

.form__item {
  width: 100%;
  display: flex;
  font-size: 1.5rem;

  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
}

.form__label {
  width: 169px;
  font-size: 20px;
  padding-top: 3px;
  line-height: calc(33/18);

  @media screen and (max-width: 767px) {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 2px;
    padding-top: 0;
  }
}

.form__input {
  flex: 1;
  font-size: 1.6rem;
  font-weight: 500;

  #name {
    padding: 0 20px;

    @media screen and (max-width: 767px) {
      height: 50px;
      width: 100%;
      padding-inline: 20px;
    }
  }

  #email {
    padding: 0 20px;

    @media screen and (max-width: 767px) {
      height: 50px;
      width: 100%;
      padding-inline: 20px;
    }
  }

  input {
    width: 100%;
    height: 40px;
    background-color: #fff;
    line-height: 1.2;
  }
}

.form__textarea {
  flex: 1;
  font-size: 1.6rem;
  line-height: 1.65;
  font-weight: 500;

  textarea {
    display: block;
    width: 100%;
    min-height: 300px;
    background-color: #fff;
    padding: 20px;
    resize: vertical;
    // line-height: calc(33/18);
    line-height: 1.6;
  }
}

.contact__button {
  text-align: center;
  margin-top: 53px;

  input {
    width: 200px;
    height: 50px;
    color: #fff;
    background-color: color.$sub-color;
    font-size: 2.5rem;
    border-radius: 10px;
    font-weight: 700;
    padding-left: 12px;
    line-height: calc(33/25);
    letter-spacing: 0.4em;
    transition: 0.3s;
    cursor: pointer;
    border: 1px solid #0d96a0;
    padding-bottom: 2px;

    &:hover {
      background-color: #fff;
      color: color.$sub-color;
    }

    @media screen and (max-width: 767px) {
      font-size: 2rem;
      max-width: 335px;
      width: 100%;
      height: 41px;
      padding-bottom: 0;
    }
  }
}

// フッター
.footer {
  color: #fff;
  background-color: color.$main-color;
  padding: 62px 0 72px 0;
  text-align: center;

  @media screen and (max-width: 767px) {
    padding: 47px 0 50px;
  }
}

.footer__nav {
  max-width: 737px;
  margin: 0 auto;
  padding-bottom: 17px;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  gap: 4px;
  border-bottom: 1px solid #fff;

  @media screen and (max-width: 767px) {
    max-width: 335px;
    font-size: 1.8rem;
    flex-wrap: wrap;
    padding-bottom: 21px;
    gap: 10px;
  }
}

.footer__nav-item {
  font-weight: 500;

  @media screen and (max-width: 767px) {}
}

.footer__nav-link {
  padding: 5px;
  transition: all 0.3s linear;
  display: block;
  // line-height: calc(33/20);

  &:hover {
    opacity: 0.5;
  }

  @media screen and (max-width: 767px) {
    padding: 0 5px;
  }
}

.footer__copyright {
  font-size: 2rem;
  padding-top: 25px;
  line-height: calc(33/16);

  @media screen and (max-width: 767px) {
    // display: flex;
    justify-content: center;
    font-size: 1.6rem;
    padding-top: 17px;
  }

  @media screen and (max-width: 374px) {
    font-size: 1.4rem;
  }
}

.footer__sns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;

  @media screen and (max-width: 767px) {
    padding-top: 20px;
  }
}

.sns__list {
  // padding: 5px;
  transition: all 0.3s linear;

  &:hover {
    opacity: 0.5;
  }

  a {
    display: block;
    padding: 5px;
  }
}